[submodule "amiro-cv"]
	path = amiro-cv
	url = http://github.com/dlezcan1/AMIRo-cv
	branch = master
[submodule "shape-sensing"]
	path = shape-sensing
	url = https://git.lcsr.jhu.edu/amiro/shape-sensing
